
@{
    ViewBag.Title = "Kategorie";
}

<h1>Kategorie</h1>
<p>Spare ribs cow leberkas turducken ribeye meatloaf burgdoggen chuck ball tip filet
     mignon andouille corned beef swine pork loin hamburger. Chuck cupim salami boudin
     venison ball tip pork loin ribeye. Pork turkey andouille bresaola strip steak spare ribs.
     Brisket meatloaf beef ribs corned beef turducken hamburger picanha cow prosciutto
     strip steak bresaola. Meatball ham hock sausage strip steak doner boudin spare ribs
     short loin hamburger shoulder. Pancetta boudin shoulder drumstick venison bresaola
     ribeye chuck shank cow swine alcatra. Doner beef corned beef, turkey pancetta shoulder
     sirloin pastrami frankfurter pig meatloaf.</p>

<!--Products-->
<section class="products">
    <h2>Produkty</h2>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="produkt">
                <div class="caption">
                    <h3>Produkt 1</h3>
                    <p>Cupim prosciutto biltong pork corned beef shankle alcatra hamburger porchetta.</p>
                    <p><a href="@Url.Action("ProductDetail", "Home")" class="btn btn-primary" role="button">Detail</a> <a href="#" class="btn btn-default" role="button">Koupit</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="produkt">
                <div class="caption">
                    <h3>Produkt 2</h3>
                    <p>Cupim prosciutto biltong pork corned beef shankle alcatra hamburger porchetta.</p>
                    <p><a href="@Url.Action("ProductDetail", "Home")" class="btn btn-primary" role="button">Detail</a> <a href="#" class="btn btn-default" role="button">Koupit</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="produkt">
                <div class="caption">
                    <h3>Produkt 3</h3>
                    <p>Cupim prosciutto biltong pork corned beef shankle alcatra hamburger porchetta.</p>
                    <p><a href="@Url.Action("ProductDetail", "Home")" class="btn btn-primary" role="button">Detail</a> <a href="#" class="btn btn-default" role="button">Koupit</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="produkt">
                <div class="caption">
                    <h3>Produkt 1</h3>
                    <p>Cupim prosciutto biltong pork corned beef shankle alcatra hamburger porchetta.</p>
                    <p><a href="@Url.Action("ProductDetail", "Home")" class="btn btn-primary" role="button">Detail</a> <a href="#" class="btn btn-default" role="button">Koupit</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="produkt">
                <div class="caption">
                    <h3>Produkt 2</h3>
                    <p>Cupim prosciutto biltong pork corned beef shankle alcatra hamburger porchetta.</p>
                    <p><a href="@Url.Action("ProductDetail", "Home")" class="btn btn-primary" role="button">Detail</a> <a href="#" class="btn btn-default" role="button">Koupit</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="produkt">
                <div class="caption">
                    <h3>Produkt 3</h3>
                    <p>Cupim prosciutto biltong pork corned beef shankle alcatra hamburger porchetta.</p>
                    <p><a href="@Url.Action("ProductDetail", "Home")" class="btn btn-primary" role="button">Detail</a> <a href="#" class="btn btn-default" role="button">Koupit</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="produkt">
                <div class="caption">
                    <h3>Produkt 1</h3>
                    <p>Cupim prosciutto biltong pork corned beef shankle alcatra hamburger porchetta.</p>
                    <p><a href="@Url.Action("ProductDetail", "Home")" class="btn btn-primary" role="button">Detail</a> <a href="#" class="btn btn-default" role="button">Koupit</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="produkt">
                <div class="caption">
                    <h3>Produkt 2</h3>
                    <p>Cupim prosciutto biltong pork corned beef shankle alcatra hamburger porchetta.</p>
                    <p><a href="@Url.Action("ProductDetail", "Home")" class="btn btn-primary" role="button">Detail</a> <a href="#" class="btn btn-default" role="button">Koupit</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="produkt">
                <div class="caption">
                    <h3>Produkt 3</h3>
                    <p>Cupim prosciutto biltong pork corned beef shankle alcatra hamburger porchetta.</p>
                    <p><a href="@Url.Action("ProductDetail", "Home")" class="btn btn-primary" role="button">Detail</a> <a href="#" class="btn btn-default" role="button">Koupit</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="produkt">
                <div class="caption">
                    <h3>Produkt 1</h3>
                    <p>Cupim prosciutto biltong pork corned beef shankle alcatra hamburger porchetta.</p>
                    <p><a href="@Url.Action("ProductDetail", "Home")" class="btn btn-primary" role="button">Detail</a> <a href="#" class="btn btn-default" role="button">Koupit</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="produkt">
                <div class="caption">
                    <h3>Produkt 2</h3>
                    <p>Cupim prosciutto biltong pork corned beef shankle alcatra hamburger porchetta.</p>
                    <p><a href="@Url.Action("ProductDetail", "Home")" class="btn btn-primary" role="button">Detail</a> <a href="#" class="btn btn-default" role="button">Koupit</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="produkt">
                <div class="caption">
                    <h3>Produkt 3</h3>
                    <p>Cupim prosciutto biltong pork corned beef shankle alcatra hamburger porchetta.</p>
                    <p><a href="@Url.Action("ProductDetail", "Home")" class="btn btn-primary" role="button">Detail</a> <a href="#" class="btn btn-default" role="button">Koupit</a></p>
                </div>
            </div>
        </div>
    </div>
</section>